.wrapper {
    background-image: url("../../assets/img/3slide/bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative;
    
  }

  .content{
    padding: 0 70px;
}
  
  .title {
    text-transform: uppercase;
    font-size: 100px;
    margin-top: 10vh;
  }

  .textItems{
      display: flex;
      justify-content: flex-end;
      align-items: stretch;
      
      padding: 40vh 2vw 0 2vw;

      font-size: 20px;
  }

  .rightBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    
   
  }
  
  .textBlock1 {
    padding: 50px 30px 50px 250px;
    border-radius: 40px ;
    position: relative;
    background-color: rgb(255, 255, 255);
    
    margin-right: 5vw;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    
  }
  .textBlock2 {
    padding: 50px 30px 50px 40px;
    border-radius: 40px ;
    position: relative;
    background-color: rgb(255, 255, 255);

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }

  .text{
     max-width: 200px;
   
    
    

    
  }

  .textBlockImg{
      position: absolute;
      width: 80px;
      height: auto;
      top: -50px;
      z-index: 10;
  }

  .bottleImg{
      width: auto;
      height: 90%;
      position: absolute;
      bottom: 0px;
      left: 0;
  }

  .buttonNext {
    
    text-align: center;
    background-color: #ff6aa0;
    font-size: 30px;
    padding: 5px 20px;
    padding-left: 10px;
    margin-top: 5vh;
    border-radius: 100px !important;
    
  }