.wrapper {
  background-image: url("../../assets/img/2slide/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.content {
  padding: 0 70px;
}
.title {
  text-transform: uppercase;
  padding-top: 10vh;
  font-size: 30px;
  width: 100px;
  font-weight: 400;
}
.textBlockWrap {
  overflow-y: scroll;
  transform: scaleX(-1);
  height: 400px;
  
  margin-top: 5vh;
  

}
.textBlock {
  transform: scaleX(-1);
  padding: 2vh 2vw;
  border-radius: 30px;
  background-color: white;
  border-radius: 30px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  
  width: 70vw;
  margin: 0 auto;

  
}

.textBlockWrap::-webkit-scrollbar {
  width: 30px;
  height: 60px;
  position: absolute;

  background-color: rgba(24, 24, 24, 0);
}
.textBlockWrap::-webkit-scrollbar-thumb {
  background-color: #ff6aa0;
  border-radius: 50px;
}

.text {
  font-size: 25px;
  font-weight: 300;
  padding: 10px 10px;
}
