.carousel {
    overflow:hidden;
    margin-top: 0;
    
    
   
    
   
    
}

.inner{
    display: flex;
    
   
    transition: transform 0.3s;
    
    
   
   
    
    
    
    


}

.carouselItem {
    background-color: pink;
   
   
}